<!doctype html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116430628-1"></script>
        <!--<script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'UA-116430628-1');
        </script>-->

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>Bitcoin Price vs Search Interest</title>
        <meta name="description" content="This page provides a chart that compares bitcoin price and bitcoin google search interest. Bitcoin price and search interest are highly correlated. Comparing these data can help you make better investment decisions.">             
        <style>
            .row {
                padding: 3px;
            }     
        </style>


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.6/angular-material.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
        <script src="node_modules/chart.js/dist/Chart.min.js"></script>
        <script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>

        <script src="node_modules/moment/moment.js"></script>
        <script src="node_modules/angular-moment/angular-moment.js"></script>       

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-messages.min.js"></script>        
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.6/angular-material.min.js"></script>


        <script src="app"></script>

    </head>
    <body>

        <div class="container-fluid">
            <div ng-app="app" ng-controller="ChartCtrl" >
                <div class="row align-items-center">
                    <div ng-controller="DateCtrl">
                        <div class="col-xs-7 col-sm-4" >
                            <button class="btn btn-default" ng-click="startDate = weekDate; endDate = nowDate;">1w</button>
                            <button class="btn btn-default" ng-click="startDate = monthDate; endDate = nowDate;">1m</button>
                            <button class="btn btn-default" ng-click="startDate = halfYearDate; endDate = nowDate;">6m</button>
                            <button class="btn btn-default" ng-click="startDate = yearDate; endDate = nowDate;">1y</button>
                            <button class="btn btn-default" ng-click="startDate = year2Date; endDate = nowDate;">2y</button>
                            <button class="btn btn-default" ng-click="startDate = earliestDate; endDate = nowDate;">max</button>                           
                        </div>
                        <div class="col-xs-1 col-sm-4 hidden-xs" style='padding: 6px;'>
                            <md-datepicker style='padding: 10px;' md-hide-icons="calendar"  md-min-date="earliestDate" md-max-date="nowDate"  ng-model="startDate" md-placeholder="Enter date" md-open-on-focus=""></md-datepicker>
                            <md-datepicker style='padding: 10px;' md-hide-icons="calendar" md-min-date="earliestDate" md-max-date="nowDate"  ng-model="endDate" md-placeholder="Enter date" md-open-on-focus=""></md-datepicker>
                        </div>
                    </div>
                    <div class="col-xs-1 col-sm-1">

                        <div ng-controller="InfoCtrl">
                            <button ng-click="showInfo()" type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-info-sign"></span> 
                            </button>

                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3 hidden-xs" style='padding: 8px;' align="center"><h4 class="text-info">Bitcoin Price vs. Search Interest</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12" >

                        <canvas id="line" class="chart chart-line" chart-data="data"
                                chart-labels="labels" chart-series="series" chart-options="options"
                                chart-dataset-override="datasetOverride" chart-click="onClick">
                        </canvas>
                    </div>
                </div> 
                <div class="row">
                    <div class="col-xs-6 col-xs-offset-5" style='background-color: white;' >

                        <div id="coinwidget" data-icon="true" data-type="primary" data-wallet="1QGssUyRmYbXhrEueSfWHR7oS1xzuv8PRt" ></div>
                        <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/ivandiazwm/coinwidget@0.1.1/builds/full.js" charset="utf-8"></script>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
