<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Bitcoin Price vs Search Interest</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.13/daterangepicker.min.css" />
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.6/angular-material.min.css">


        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
        <script src="node_modules/chart.js/dist/Chart.min.js"></script>
        <script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="node_modules/moment/moment.js"></script>
        <script src="node_modules/bootstrap-daterangepicker/daterangepicker.js"></script>
        <script src="node_modules/angular-daterangepicker/js/angular-daterangepicker.js"></script>        
        <script src="node_modules/moment/moment.js"></script>
        <script src="node_modules/angular-moment/angular-moment.js"></script>
        <script src="node_modules/angular-bootstrap-npm/dist/angular-bootstrap.min.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-messages.min.js"></script>

        <!-- AngularJS Material Javascript now available via Google CDN; version 1.1.4 used here -->
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.6/angular-material.min.js"></script>

        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"  crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://blockchain.info/Resources/js/pay-now-button.js"></script>

        <script src="app"></script>

    </head>
    <body >

        <div ng-app="app"  ng-controller="ChartCtrl">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <button ng-click="datePicker.date = {startDate: weekDate, endDate: nowDate}">week</button>
                        <button ng-click="datePicker.date = {startDate: monthDate, endDate: nowDate}">month</button>
                        <button ng-click="datePicker.date = {startDate: halfYearDate, endDate: nowDate}">six months</button>
                        <button ng-click="datePicker.date = {startDate: yearDate, endDate: nowDate}">year</button>
                        <button ng-click="datePicker.date = {startDate: year5Date, endDate: nowDate}">five years</button>
                    </div>

                    <div class="col-sm">
                        <div ng-controller="DateCtrl">
                            <input date-range-picker class="date-picker" type="text" ng-model="datePicker.date"
                                   options="datePicker.options" />
                        </div>
                    </div>
                    <div class="col-sm">
                        <div ng-controller="InfoCtrl">
                            <button ng-click="showConfirm()">i</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div>

                        <canvas id="line" class="chart chart-line" chart-data="data"
                                chart-labels="labels" chart-series="series" chart-options="options"
                                chart-dataset-override="datasetOverride" chart-click="onClick">
                        </canvas>
                    </div>
                </div>
                <div class="row">
                    <div style="font-size:16px;margin:0 auto;width:300px" class="blockchain-btn"
                         data-address="1QGssUyRmYbXhrEueSfWHR7oS1xzuv8PRt"
                         data-shared="false">
                        <div class="blockchain stage-begin">
                            <img src="https://blockchain.info/Resources/buttons/donate_64.png"/>
                        </div>
                        <div class="blockchain stage-loading" style="text-align:center">
                            <img src="https://blockchain.info/Resources/loading-large.gif"/>
                        </div>
                        <div class="blockchain stage-ready">
                            <p align="center">Please Donate To Bitcoin Address: <b>[[address]]</b></p>
                            <p align="center" class="qr-code"></p>
                        </div>
                        <div class="blockchain stage-paid">
                            Donation of <b>[[value]] BTC</b> Received. Thank You.
                        </div>
                        <div class="blockchain stage-error">
                            <font color="red">[[error]]</font>
                        </div>
                    </div>

                </div>


            </div>


        </div>



    </body>
</html>
